<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="MovieApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="MainController as ctrl">
    <h1>Welcome to {{ ctrl.appName }}</h1>
    <form ng-submit="ctrl.getMovies()">
      <input type="text" placeholder="movie title" ng-model="ctrl.movieTitle">
      <button type="submit" name="button">Get Movie!</button>
    </form>
    <div ng-repeat="movie in ctrl.movies">
      <h2>{{ movie.Title }} {{ movie.Year}}</h2>
      <img ng-src="{{ movie.Poster }}" alt="{{ movie.Title }}">
      <h3>Starring: {{ movie.Actors }} </h3>
      <h4> Plot: {{ movie.Plot }}</h4>
      <h5>Genre: {{ movie.Genre }}</h5>
      <h6> Rated: {{ movie.Rated }}</h6>
    </div>
  </body>
</html>
