$brand-red: #E41A23;
$brand-grey: #f5f5f5;
$brand-black: #222222;

body {
    background-color: $brand-grey;
    font-family: "Circular", "Noto Serif", serif;
}

th {
    color: white;
    background-color: $brand-red
}