.square {
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 10px;
    display: inline-block;
    /* background-color: rgb(25, 241, 84); */
}

body {
    font-family: Verdana;
}

.info-container {
    background: azure;
    border: 1px solid grey;
    margin-bottom: 5px;
    padding: 20px;
}

.name, .address {
    border: 1px solid grey;
    display: inline;
    margin-right: 20px;
    padding:5px;
}

.black {
    background: black;
}
